/* (edit style.css for your own book styles) */

img { max-width: 100%; }

/* rainbow borders */
body {
  margin-top: 24px;
  box-shadow: 0 -4px 0 0px var(--red),
              0 -8px 0 0px var(--orange),
              0 -12px 0 0px var(--yellow),
              0 -16px 0 0px var(--green),
              0 -20px 0 0px var(--blue),
              0 -24px 0 0px var(--purple);
}



/* fix code wrap with line numbers */
pre > code.sourceCode > span {
  text-indent: -50px;
  padding-left: 50px;
}

.inline-figure { border: none; }
.quarto-cover-image { display: none; }

@media screen and (max-width: 767.98px) {
  #TOC, #quarto-sidebar .sidebar-menu-container ul.mt-1 {
    width: 49%;
    padding:0;
    float: left;
    display: inline-block;
    vertical-align: text-top;
  }
}

/* references with hanging indent */
.csl-entry {
  padding-left: 2em ;
  text-indent: -2em ;
}
